body {
    background: linear-gradient(to right, darkblue, aqua, green);
    background-size: 300%;
    background-position: center;
}


img {
    width: 100%;
    height: 100%;

}

section {
    max-width: 800px;
    margin: 15px auto;
}

.event-tinhluong,
.event-tong2kyso,
.event-chunhat,
.event-tinhTB,
.event-money {
    display: flex;
    justify-content: space-between;
}